.wrap {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
}

header,
section,
footer {
  width: 100%;
  float: left;
}

footer {
  padding-bottom: 80px;
}

/* .in_header, .container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
} */

body {
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
}
