.section_1 {
  margin-top: 100px;
}

.section_1 h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}

.section_1 .album_box_1 {
  position: relative;
}

.section_1 .arrow {
  position: absolute;
  right: 10px;
  top: 60%;
  font-size: 40px;
  font-weight: 900;
  color: #000;
  cursor: pointer;
}

.section_1 .album {
  margin-right: 30px;
}

.section_1 .album:last-child {
  margin-right: 0;
}

.album_box {
  width: 100%;
  display: flex;
}

.album .title {
  margin-top: 30px;
  color: #707070;
}

.album .song {
  font-size: 20px;
  font-weight: 400;
}

.album .singer {
  margin-top: 5px;
  font-size: 18px;
}

/* ------------- section_1 end */

.section_2 {
  margin-top: 125px;
}

.section_2 .two_wrap {
  width: 100%;
  display: flex;
}

.section_2 .play_left {
  width: 970px;
}

.section_2 .play_right {
  width: 415px;
  margin-left: 26px;
}

.section_2 h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}

.play_left .chart_box {
  height: 280px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  color: #707070;
  padding: 15px 15px 5px 15px;
  box-sizing: border-box;
}

.chart_box h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.chart_box .rank_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rank_box .chart_rank {
  width: 100%;
  height: 33.33333%;
  border-top: 0.5px solid #ebebeb;
  display: flex;
  align-items: center;
  transition: 1s;
}

/* hover event 작성 */

.rank_box .rank_txt h3 {
  font-size: 20px;
  font-weight: 600;
  color: #3d3d3d;
  margin-bottom: 5px;
}

.rank_box .rank_txt p {
  font-size: 17px;
  font-weight: 300;
}

.rank_box .rank_img {
  width: 55px;
  padding: 7px 50px 7px 20px;
}

.chart_rank .play_btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 595px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.rank_img img {
  width: 100%;
}

.play_left .chart_box:last-child {
  margin-bottom: 0;
}

.play_right .play_box {
  width: 100%;
  height: 590px;
  background-color: #eeeeee;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play_right .inner_play {
  width: 350px;
  height: 528px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
}

/* ------------- section_2 end */

.section_3 {
  margin-top: 125px;
  height: 200px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_3 .ad_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_3 .ad_txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ad_txt h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.ad_txt p {
  font-size: 20px;
  font-weight: 400;
  color: #707070;
  margin-bottom: 15px;
}

.ad_wrap .btn {
  width: 187px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #dc143c;
  cursor: pointer;
}

.ad_wrap .btn a {
  color: #fff;
}

/* ------------- section_3 end */

.section_4 {
  margin-top: 125px;
  margin-bottom: 125px;
  position: relative;
}

.section_4 h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}

.section_4 .album_box_4 {
  position: relative;
}

.section_4 .arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  cursor: pointer;
}

.section_4 .album {
  margin-right: 30px;
}

.section_4 .album:last-child {
  margin-right: 0;
}

.section_4 .album_box {
  width: 100%;
  display: flex;
}

.section_4 .album .title {
  margin-top: 30px;
  color: #707070;
}

.section_4 .album .song {
  font-size: 20px;
  font-weight: 400;
}

.section_4 .album .singer {
  margin-top: 5px;
  font-size: 18px;
}

/* ------------- section_4 end */
